* {
    box-sizing: border-box;    
}

body {
    background-color: black;
    color: cornsilk;
}

h1 {
    text-decoration: underline;
    font-size: 40px;
    color: cornsilk;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-decoration: underline;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: auto;
    max-height: 400px;
    margin:auto 0 ;
}

header {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    width: 350px;
    height: auto;
    background-color: rgb(46, 101, 173);
    text-align: center;
}


.intro{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    width: 450px;
    height: auto;
    background-color: rgb(46, 101, 173);
    text-align: center;
}


.jazz-styles {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    width: 450px;
    height: auto;
    line-height: 30px;
    background-color: rgb(46, 101, 173);
}

.jazz-players {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
    width: 450px;
    height: auto;
    line-height: 30px;
    background-color: rgb(46, 101, 173);
}

.photos {
    margin: auto 0;
    padding: 20px;
    height: auto;
    background-color: rgb(46, 101, 173);
    text-align: center;
}

.my-button {
    display: inline-block;
    width: auto;
    
    
}

#take-quiz {
    text-align: cetner;
    background-color: darkslateblue;
    width: 200px;
    height: 100px;
}

#take-quiz:hover {
    cursor: pointer;
    background-color: green;
    width: 210px;
    height: 110px;
}

#results {
    font-size: 40px;
    color: orange;
}